/*
Place your custom CSS here
*/
.widget-hello-world {
}

.Myinput {
    display: flex;
    flex: 1;
    min-width: 50px;
    padding: 8px 8px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    color: #0a1325;
    border: 1px solid #e7e7e9;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    box-shadow: none;
    font-size: 14px;
    line-height: 1.428571429;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.Myalert {
    color: red;
}
